/* wwwroot/app.css */
html, body {
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 2.0em;
}

.custom-header {
    background-color: #0f2f54;
    height: 140px;
}

.logo {
    width: 175px;
    height: 120px;
    object-fit: contain;
}

.header-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.custom-footer {
    background-color: #e3effc;
    color: rgb(149,149,149);
    height: 120px;
    font-size: 12px;
    line-height: 2.0em;
}

.text-orange {
    color: orange !important;
}

.footer-links {
    color: #0f2f54 !important;
    text-decoration: none;
    font-size: 12px;
}

    .footer-links:hover {
        text-decoration: underline;
    }

.copyright-text {
    color: rgb(149,149,149);
    font-size: 12px;
    margin-right: 5px;
}

.top-section {
    min-height: 100px;
    background-color: #f8f9fa;
}

.left-section {
    min-height: 300px;
    background-color: #6c757d;
    color: white;
}

.right-section {
    min-height: 300px;
    background-color: #17a2b8;
    color: white;
}

.main-content {
    flex: 1 0 auto; /* Ensures main grows to fill available space */
}
