// Footer.razor
<footer class="custom-footer py-3 mt-auto">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 col-12 d-flex flex-column align-items-md-start align-items-center text-md-start text-center">
                <small class="fw-bold">Company Name</small>
                <div class="d-flex align-items-center mt-2">
                    <i class="fa fa-map-pin text-orange fs-5 me-2"></i>
                    <small>123 Main Street, City, State, ZIP</small>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <i class="fa fa-phone text-orange fs-5 me-2"></i>
                    <small>+1 (234) 567-890</small>
                </div>
            </div>
            <div class="col-md-6 col-12 d-flex justify-content-md-end justify-content-center text-md-end text-center mt-3 mt-md-0">
                <span class="copyright-text">© Copyright</span>
                <a href="https://parentcompany.com" class="footer-links mx-2">Parent Company</a> |
                <a href="/security" class="footer-links mx-2">Security Statement</a> |
                <a href="/privacy" class="footer-links mx-2">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
@code {

}
