// Header.razor
<header class="custom-header d-flex align-items-center px-3">
    <div class="container d-flex justify-content-between align-items-center">
        <img src="logo.svg" alt="Company Logo" class="logo">
        <h1 class="header-title m-0">Website Title</h1>
    </div>
</header>
@code {

}
